Source: libpdf-cropmarks-perl
Section: perl
Priority: optional
Maintainer: Marco Pessotto <melmothx@gmail.com>
Build-Depends: debhelper (>= 9)
Build-Depends-Indep: libmoo-perl,
 libnamespace-clean-perl,
 libpdf-api2-perl (>= 2.027),
 libpdf-api2-perl (>= 2.019),
 libtype-tiny-perl (>= 1),
 poppler-utils,
 perl
Standards-Version: 3.9.6
Homepage: https://metacpan.org/release/PDF-Cropmarks

Package: libpdf-cropmarks-perl
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends},
 libmoo-perl,
 libnamespace-clean-perl,
 libpdf-api2-perl (>= 2.027),
 libtype-tiny-perl (>= 1),
Description: Add cropmarks to existing PDFs
 This module prepares PDF for printing adding the cropmarks, usually on
 a larger physical page, doing the same thing the LaTeX package "crop"
 does. It also takes care of the paper thickness, shifting the logical
 pages to compensate the folding.
 .
 It comes with a ready-made script, pdf-cropmarks.pl
