#!/usr/bin/make -f

PACKAGE = $(firstword $(shell dh_listpackages))
TMP     = $(CURDIR)/debian/$(PACKAGE)

%:
	dh $@

override_dh_auto_install:
	dh_auto_install
	sed -i '1s,^#!.*perl,#!/usr/bin/perl,' $(TMP)/usr/bin/pdf-cropmarks.pl
	sed -i "/^use lib 'lib';/s/^/# /" $(TMP)/usr/bin/pdf-cropmarks.pl

